In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json

%matplotlib inline

In [2]:
def speeding(x):
    if x == 9:
        x = np.nan
    elif not x:
        x = x
    else:
        x = 1
    return x

def age(x):
    if x < 20:
        x = 1
    elif x < 25:
        x = 2
    elif x < 30:
        x = 3
    elif x < 35:
        x = 4
    elif x < 40:
        x = 5
    elif x < 45:
        x = 6
    elif x < 50:
        x = 7
    elif x < 55:
        x = 8
    elif x < 60:
        x = 9
    elif x < 65:
        x = 10
    elif x < 70:
        x = 11
    elif x < 75:
        x = 12
    elif x < 80:
        x = 13
    elif x < 85:
        x = 14   
    else:
        x = 15
    return x

def lead_zero(x, n):
    x = str(x)
    if len(x) == (n - 1):
        x = '0' + x
    elif len(x) == (n - 2):
        x = '00' + x
    return x

In [3]:
cnx = create_engine('postgresql://aliphelan:khaL3#si@34.198.205.31:5432/aliphelan')

In [4]:
df = pd.read_sql_query('''SELECT speedrel, age FROM speed_data_drivers;''',cnx)

In [5]:
df.shape

(48613, 2)

In [6]:
df.head()

   speedrel  age
0         0   27
1         3   55
2         0   50
3         0   57
4         0   39

In [7]:
# Speeding: 0 = No, 9 = Unknown, All others = Yes
df.speedrel.value_counts()

0    37681
4     3986
3     3461
9     2154
5     1249
2       82
Name: speedrel, dtype: int64

In [8]:
df['speedrel'] = df['speedrel'].apply(speeding)
df.speedrel.value_counts()

0.0    37681
1.0     8778
Name: speedrel, dtype: int64

In [9]:
df = df.dropna()
df.reset_index(inplace=True, drop=True)
df.shape

(46459, 2)

In [10]:
df['age_group'] = df['age'].apply(age)
df.head()

   speedrel  age  age_group
0       0.0   27          3
1       1.0   55          9
2       0.0   50          8
3       0.0   57          9
4       0.0   39          5

In [11]:
df.shape

(46459, 3)

In [12]:
total_acc = df['age_group'].value_counts().sort_index()
total_acc = total_acc.reset_index()
total_acc.columns = ['age_group', 'total_crash']
total_acc.head()

   age_group  total_crash
0          1         3139
1          2         5833
2          3         5145
3          4         4347
4          5         3857

In [13]:
all_crash = total_acc.total_crash.sum()
all_crash = float(all_crash)
all_crash

46459.0

In [14]:
age_dist = df.groupby(['age_group'], as_index=False)[['speedrel']].sum()
age_dist['percent_crash'] = total_acc['total_crash'].apply(lambda x: x / all_crash * 100)

all_speed = age_dist.speedrel.sum()
age_dist['speedrel'] = age_dist['speedrel'].apply(lambda x: x / all_speed * 100)
age_dist.columns = ['age_group', 'percent_speed', 'percent_crash']

In [15]:
age_dist.head()

   age_group  percent_speed  percent_crash
0          1      10.697198       6.756495
1          2      19.491912      12.555156
2          3      15.778082      11.074281
3          4      11.187059       9.356637
4          5       8.817498       8.301944

In [16]:
num_drivers = pd.read_csv("all_drivers.csv")

In [17]:
num_drivers.head()

            AGE  TOTAL_DRIVERS  PERCENT_TOTAL
0  19 AND UNDER        8491392          3.966
1         20-24       17579165          8.211
2         25-29       18709923          8.739
3         30-34       18650925          8.712
4         35-39       17512307          8.180

In [18]:
age_dist['percent_drivers'] = num_drivers['PERCENT_TOTAL']
age_dist['age'] = num_drivers["AGE"]

In [22]:
age_dist = age_dist[['age', 'age_group', 'percent_drivers', 'percent_crash', 'percent_speed']]
age_dist.drop(['age_group'], axis=1, inplace=True)
age_dist

             age  percent_drivers  percent_crash  percent_speed
0   19 AND UNDER            3.966       6.756495      10.697198
1          20-24            8.211      12.555156      19.491912
2          25-29            8.739      11.074281      15.778082
3          30-34            8.712       9.356637      11.187059
4          35-39            8.180       8.301944       8.817498
5          40-44            8.572       7.628231       6.675780
6          45-49            8.833       7.824103       6.106175
7          50-54            9.616       8.532254       6.413762
8          55-59            9.225       7.619622       4.910002
9          60-64            7.988       5.759917       3.132832
10         65-69            6.546       4.616974       2.323992
11         70-74            4.586       3.192062       1.435407
12         75-79            3.098       2.249295       0.979722
13         80-84            2.058       1.797284       0.569606
14   85 AND OVER            1.671       2.735745       1.480975

In [23]:
age_dist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 14
Data columns (total 4 columns):
age                15 non-null object
percent_drivers    15 non-null float64
percent_crash      15 non-null float64
percent_speed      15 non-null float64
dtypes: float64(3), object(1)
memory usage: 600.0+ bytes

In [24]:
age_dist.to_csv('speeding_age.csv')

In [4]:
df2 = pd.read_sql_query('''SELECT state, county, fatals FROM accident;''',cnx)

In [5]:
df2.head()

   state  county  fatals
0      1     127       1
1      1      83       1
2      1      11       1
3      1      45       1
4      1      45       1

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32166 entries, 0 to 32165
Data columns (total 3 columns):
state     32166 non-null int64
county    32166 non-null int64
fatals    32166 non-null int64
dtypes: int64(3)
memory usage: 754.0 KB

In [7]:
df2['state'] = df2['state'].astype(basestring)
df2['county'] = df2['county'].astype(basestring)

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32166 entries, 0 to 32165
Data columns (total 3 columns):
state     32166 non-null object
county    32166 non-null object
fatals    32166 non-null int64
dtypes: int64(1), object(2)
memory usage: 754.0+ KB

In [9]:
df2['state'] = df2['state'].apply(lambda x: lead_zero(x, n=2))

In [10]:
df2['county'] = df2['county'].apply(lambda x: lead_zero(x, n=3))

In [11]:
df2.head()

  state county  fatals
0    01    127       1
1    01    083       1
2    01    011       1
3    01    045       1
4    01    045       1

In [12]:
df2['id'] = df2.state + df2.county

In [13]:
df2.head()

  state county  fatals     id
0    01    127       1  01127
1    01    083       1  01083
2    01    011       1  01011
3    01    045       1  01045
4    01    045       1  01045

In [14]:
county_df = df2.groupby(['id'], as_index=False)['fatals'].sum()

In [15]:
county_df.head()

      id  fatals
0  01001       8
1  01003      32
2  01005       7
3  01007       5
4  01009       5

In [16]:
pop = pd.read_csv('pop.csv')

In [17]:
pop.head()

          geoid                name  B01003001  B01003001, Error
0  05000US01001  Autauga County, AL      55221                 0
1  05000US01003  Baldwin County, AL     195121                 0
2  05000US01005  Barbour County, AL      26932                 0
3  05000US01007     Bibb County, AL      22604                 0
4  05000US01009   Blount County, AL      57710                 0

In [18]:
pop['geoid'] = pop['geoid'].apply(lambda x: x[-5:])

In [19]:
pop.drop(['name', 'B01003001, Error'], axis=1, inplace=True)

In [20]:
pop.columns = ['id', 'population']
pop.head()

      id  population
0  01001       55221
1  01003      195121
2  01005       26932
3  01007       22604
4  01009       57710

In [21]:
data = county_df.merge(pop, on='id')
data['proportion'] = data.fatals / data.population * 10000

In [22]:
data.head()

      id  fatals  population  proportion
0  01001       8       55221    1.448724
1  01003      32      195121    1.640008
2  01005       7       26932    2.599139
3  01007       5       22604    2.211998
4  01009       5       57710    0.866401

In [23]:
data.proportion.min()

0.12097310767816315

In [24]:
data.proportion.max()

170.94017094017096

In [25]:
final_df = data[['id', 'proportion', 'fatals']]

In [26]:
final_df.to_csv('final.csv', index=False)